---
import { classNaming }  from "$scripts/_className"
let blk: RelativeBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "px-3",
};

const cls = classNaming("", blk.classes, blk.preset, presets)
const title = blk.$title ? blk.$title : "Relating...";
---

<div id={blk.id} class={cls}>
  <h4 class="title is-5">{title}</h4>
  {blk.$articles.map(art => {
    return (
      <div class="box article-box">
      <img class="image" src={art.src} alt={art.$alt} />
      <div>
        <h5>{art.$title}</h5>
        <p>{art.$description}</p>
      </div>
    </div>
    )
  })
  }
</div>

<style>
  @media (min-width: 1024px) {
    div.article-box {
      display: flex;
    }

    div.article-box div {
      flex-grow: 1;
      padding: 1rem;
    }

    div.article-box img {
      flex-grow: 0;
      max-width: 30%;
    }
  }
</style>
