---
import { navs, staticPaths } from "$src/_envs/paths"
import { getContents } from "$scripts/_i18n"
import Base from "$layouts/Base.astro"
import BlockControl from "$lib/Blocks/BlockControl.vue"
import Sticker from "$lib/Globals/SideSticker/Sticker.astro"
// import FilledBar from "$lib/Util/FilledBar.astro"
import BreadCrumb from "$lib/Util/BreadCrumb/BreadCrumb.astro"

export async function getStaticPaths() {
  return staticPaths
}

const {dirs, path} = Astro.params
const {lang, layout} = Astro.props
const l = lang as LangList
const lt = layout as PageType
const page = await getContents(String(dirs), String(path), "ja")
console.log(lt)
const direction: AstriesDirection = {
	head: {
		lang: 'ja',
		title: "ASTRIES GB",
		description: "The Landing page for Astries demo"
	},
	hasHeaderMenu: true,
	hasFooterMenu: true,
	hasSideMenu: true,
	pagetype: lt,
	navigations: navs[lang]
}
let menu: NavigationMenu;
const url = `/${dirs}/${path}`
for (const nav of navs[l]) {
  for (const item of nav.items) {
    if (item.href === url) {
      menu = nav
      break
    }
  }
  if (menu !== undefined) {
    break;
  }
}
---

<Base direction={direction}>
  <scetion slot="top">
    <!-- <FilledBar title={page.$title} /> -->
    <BreadCrumb breadCrumb={page.breadCrumb} />
  </scetion>
  <section slot="main">
    <BlockControl blks={page.contents} />
  </section>
  <section slot="side" style="width: 100%; height: 100%">
    <Sticker menu={menu} />
  </section>
</Base>