---
  import { navs, staticPaths } from "$src/_envs/paths"
  import { profile } from "$src/_envs/profile"
  import { getContents } from "$scripts/_i18n"
  import Base from "$layouts/Base.astro"
  import BlockControl from "$lib/Blocks/BlockControl.vue"
  import Sticker from "$lib/Globals/SideSticker/Sticker.astro"
  import TitleBar from "$lib/Util/TitleBar.astro"
  import BreadCrumb from "$lib/Util/BreadCrumb/BreadCrumb.astro"

  export async function getStaticPaths() {
    return staticPaths
  }

  const { dirs, path } = Astro.params
  const { lang, layout } = Astro.props
  const l = lang as LangList
  const lt = layout as PageType
  const page = await getContents(String(dirs), String(path), "ja")
  const direction: AstriesDirection = {
    head: {
      lang: 'ja',
      title: `${page.$title} | ${profile.SiteName}`,
      description: page.$description,
      ogp: {
        url: `${profile.url}/${page.fullpath}`,
        type: 'website',
        title: page.$title,
        description: page.$description,
        name: page.name,
        img: page.img.startsWith('http')
          ? page.img
          : page.img === ''
            ? `${profile.url}/pict/sys/defaultimg.jpg`
            : page.img.startsWith('/pict')
              ? `${profile.url}/${page.img}`
              : `${profile.url}/pict/${page.img}`
      }
    },
    hasHeaderMenu: true,
    hasFooterMenu: true,
    hasSideMenu: true,
    pagetype: lt,
    navigations: navs[lang]
  }
  let menu: NavigationMenu;
  const url = `/${dirs}/${path}`
  for (const nav of navs[l]) {
    for (const item of nav.items) {
      if (item.fullpath === url) {
        menu = nav
        break
      }
    }
    if (menu !== undefined) {
      break;
    }
  }
  // console.log(page)
---

<Base direction={direction}>
<scetion slot="top">
  <!-- <FilledBar title={page.$title} /> -->
  <BreadCrumb breadCrumb={page.breadCrumb} />
  <TitleBar title={page.$title} />
</scetion>
<section slot="main">
  <BlockControl blks={page.contents} />
</section>
<section slot="side" style="width: 100%; height: 100%">
  <Sticker menu={menu} />
</section>
</Base>