---
import fm from "front-matter"
import { Markdown } from 'astro/components';
// import { MarkdostaticPostPages, wn } from 'astro/components';
import { navs, staticPosts } from "$src/_envs/paths"
import { profile } from "$src/_envs/profile"
import { getPostContents } from "$scripts/_i18n"
import Base from "$layouts/Base.astro"
import Sticker from "$lib/Globals/SideSticker/Sticker.astro"
import FilledBar from "$lib/Util/FilledBar.astro"

export async function getStaticPaths() {
  return staticPosts
}

const {dirs, path} = Astro.params
const post = await getPostContents(String(dirs), String(path), "ja")
const content = fm<PostInfo>(post)
const direction: AstriesDirection = {
	head: {
		lang: 'ja',
		title: `${content.attributes.title} | ${profile.SiteName}`,
		description: content.attributes.summary
	},
	hasHeaderMenu: true,
	hasFooterMenu: true,
	hasSideMenu: true,
	pagetype: 'LeftMain',
	navigations: navs.ja
}

// console.log(post)
---

<Base direction={direction}>
  <section slot="top" class="my-5">
    <FilledBar title={content.attributes.title} />
  </section>
  <section slot="main" class="content">
    
    <Markdown content={content.body} />
  </section>
  <section slot="side" style="width: 100%; height: 100%">
    <Sticker hasMenu={false} />
  </section>
</Base>