---
import Logo from "$lib/Util/Logo.astro"
import FooterCol from "./FooterCol.astro"
import Langsw from "./langsw.astro";
let navigations: NavigationMenu[]
({navigations} = Astro.props)
---

<footer class="footer mt-5">
  <section class="in-footer">
    <div class="columns">
      <div class="column is-one-third-desktop is-full-touch">
        <Logo />
        <p>&copy; All Rights Rerserved.</p>
        <!-- {#if useLangSw}
          <Langsw />
        {/if} -->
      </div>
      <div class="column is-hidden-touch">
        <div class="columns">
          {navigations.map(fnav => {
            if (fnav.items) {
              return (
                <div class="column">
                  <h4 class="is-size-4 has-text-weight-semibold is-underlined">{fnav.category}</h4>
                  <FooterCol items={fnav.items} />
                </div>
              )
            }
            return (
              <div class="column">
                <h4>{fnav.category}</h4>
                <ul class="ml-1">
                  <li>
                    <a class="footer-link" href={fnav.root}>{fnav.category}</a>
                  </li>
                </ul>
              </div>
            )
          })}
        </div>
      </div>
    </div>
  </section>
</footer>

<style lang="scss">
@use "../../../styles/colors" as c;
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: c.$footer-text-color;
}

section.in-footer {
  width: 80vw;
}

@media (min-width: 480px) {
  footer {
    padding: 40px 0;
  }
}
</style>
