---
// import { profile } from "$envs/profile";
import Langlink from "./langlink.astro";
// const rootPath = Astro.request.url;

let multiLink: MultiLingualLink[] = [];
let currentLang: string = "";
({ multiLink, currentLang } = Astro.props);

let currentDisp = "Language";
for (const ml of multiLink) {
  if (ml.lang === currentLang) {
    currentDisp = ml.displayName;
    break;
  }
}
---

<div class="navbar-item has-dropdown is-hoverable">
  <p class="navbar-link is-size-6 is-arrowless langswitch">
    {currentDisp}
  </p>
  <div class="navbar-dropdown">
    <ul>
      <!-- <li>
        <Langlink href={rootPath} disp={profile.Langs[0].display} />
      </li> -->
      {
        multiLink.map((link) => {
          return (
            <li>
              <Langlink href={link.url} disp={link.displayName} />
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style lang="scss">
  p.langswitch {
    border: 1px solid;
    font-size: 0.7em;
  }
</style>
