---
import { classNaming }  from "$scripts/_className"
import BlockControl from "$lib/Blocks/SimpleBlockControl.astro"
let blk: MediaTextBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "",
};

const cls = classNaming("img-box box", blk.classes, blk.preset, presets)
---
<div id={blk.id} class={cls}>
  <div class="columns">
    <div class="column is-one-third has-text-centered">
      <img src={blk.src} alt={blk.$alt} class="img-box-fig" />
    </div>
    <div class="column is-two-thirds ml-2-desktop pr-5-desktop">
      <BlockControl blks={blk.$blks} />
    </div>
  </div>
</div>

<style>
  @media (min-width: 1024px) {
    div.img-box {
      display: flex;
    }

    div.img-box div {
      flex-grow: 1;
    }

    div.img-box img {
      flex-grow: 0;
    }
  }
</style>
