---
import { classNaming }  from "$scripts/_className"
let blk: ImageBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "",
  half: "half-view",
};

const cls = classNaming("", blk.classes, blk.preset, presets)
---

<div id={blk.id} class={cls}>
  {() => {
    if (blk.href) {
      if (blk.href.startsWith("http")) {
        return (
          <a href={blk.href} target="_blank">
            <img src={blk.src} alt={blk.$alt} />
          </a>
        )
      }
      return (
        <a href={blk.href}>
          <img src={blk.src} alt={blk.$alt} />
        </a>
      )
    }
    return (<img src={blk.src} alt={blk.$alt} />)
  }}
</div>

<style lang="scss">
  div.half-view {
    @media (min-width: 1023px) {
      max-width: 27vw;
    }
  }
</style>
