---
  // Component Imports
  import Base from '$layouts/Base.astro';
  import { navs } from "$envs/paths"
  import { profile } from "$envs/profile"
  import { getContents } from "$scripts/_i18n"
  import BlockControl from "$lib/Blocks/BlockControl.vue"
  import Recent from "$lib/Globals/SideSticker/Recent.astro"

  const page = await getContents("/", "index", "ja")

  const direction: AstriesDirection = {
    head: {
      lang: 'ja',
      title: profile.SiteName,
      description: page.$description,
      // jsonld: undefined,
      ogp: {
        url: `${profile.url}`,
        type: 'website',
        title: page.$title,
        description: page.$description,
        name: page.name,
        img: page.img.startsWith('http')
          ? page.img
          : page.img === ''
            ? `${profile.url}/pict/sys/defaultimg.jpg`
            : page.img.startsWith('/pict')
              ? `${profile.url}/${page.img}`
              : `${profile.url}/pict/${page.img}`
      }
    },
    hasHeaderMenu: true,
    hasFooterMenu: true,
    hasSideMenu: true,
    pagetype: 'LP',
    navigations: navs.ja,
  }

---

<Base direction={direction}>
<section slot="main">
  <BlockControl blks={page.contents} />
  <div class="has-text-centered my-5">
    <div class="box pa-5 is-max-width-70" style="margin-left: auto; margin-right: auto;">
      <button class="button is-large is-dark">
        <a class="is-size-3 a-in-button" href="/forms/contact-ja">お問い合わせはこちら</a>
      </button>
      <p class="my-3 is-size-4">または</p>
      <ul class="mb-4 list-contacts">
        <li class="is-size-4">
          <span class="icon mr-1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span>{profile.Tel}
        </li>
        <li class="is-size-4">
          <span class="mr-1">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
          <a href={`mailto:${profile.Email}`}>{profile.Email}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="is-max-width-70 box" style="margin-left: auto; margin-right: auto;">
    <Recent />
  </div>
</section>
</Base>

<style>
  .a-in-button {
    color: white;
  }
</style>