---
import MainHead from '$lib/MainHead.astro';
// import BlkControl from "$lib/Block/BlockControl.svelte";
import Plain from "$lib/Blocks/Simple/Plain.astro"
import List from "$lib/Blocks/Simple/List.astro"
import Define from "$lib/Blocks/Simple/Define.astro"
import Link from "$lib/Blocks/Simple/Link.astro"
import Hd2 from "$lib/Blocks/Simple/Headings/Hd2.astro"
import Hd3 from "$lib/Blocks/Simple/Headings/Hd3.astro"
import Hd4 from "$lib/Blocks/Simple/Headings/Hd4.astro"
import Ih2 from "$lib/Blocks/Simple/Headings/Ih2.astro"
import Ih3 from "$lib/Blocks/Simple/Headings/Ih3.astro"
import Ih4 from "$lib/Blocks/Simple/Headings/Ih4.astro"
import Hero from "$lib/Blocks/Simple/Hero/Hero.astro"
import SubHero from "$lib/Blocks/Simple/Hero/SubHero.astro"
import SubBar from "$lib/Blocks/Simple/Hero/SubBar.astro"
import Relatives from "$lib/Blocks/Simple/Relatives/Relatives.astro"


// const blk: HeroBlock<IsSingle> = {
//     type: 'Hero',
//     $title: "Yes",
//     src: "/pict/mv01.jpg",
//     $alt: "Hero image",
//     $subtitle: "yay yay"
// }

const pb: PlainBlock<IsSingle> = {
    type: "Plain",
    $texts: ["akasatana"]
}

const lb: ListBlock<IsSingle> = {
    type: "List",
    $texts: ["a", "b", "c"]
}

const db: DefineBlock<IsSingle> = {
    type: "Define",
    $texts: [["a", "b", "c"], ["d", "e"]]
}

const lkb: LinkBlock<IsSingle> = {
    type: "Link",
    $text: "Link",
    href: "/",
}

const hd2: HeadingBlock<IsSingle> = {
    type: "Heading 2",
    $text: "akasatana"
}

const hd3: HeadingBlock<IsSingle> = {
    type: "Heading 3",
    $text: "akasatana"
}

const hd4: HeadingBlock<IsSingle> = {
    type: "Heading 4",
    $text: "akasatana"
}

const ih2: IconHeadingBlock<IsSingle> = {
    type: "Icon Heading 2",
    icon: "",
    $text: "akasatana"
}

const hrb: HeroBlock<IsSingle> = {
    type: "Hero",
    $title: "HERO",
    $subtitle: "Hero...",
    src: "/pict/mv01.jpg",
    $alt: "hero"
}

const shrb: SubHeroBlock<IsSingle> = {
    type: "Sub Hero",
    $title: "HERO",
    src: "/pict/mv01.jpg",
    $alt: "hero"
}

const sbb: SubBarBlock<IsSingle> = {
    type: "Sub Bar",
    $title: "HERO",
}

const rels: RelativeBlock<IsSingle> = {
    type: "Relatives",
    $title: "関連記事",
    $articles: [
        {
            $title: "first",
            src: "/pict/mv01.jpg",
            $alt: "pict",
            $description: "this is first",
            href: "/"
        },
        {
            $title: "second",
            src: "/pict/mv01.jpg",
            $alt: "pict",
            $description: "this is second",
            href: "/"
        },
    ]
}


---

<html lang="en">
	<head>
		<MainHead title="Jeanine White: Personal Site" description="Jeanine White: Developer, Speaker, and Writer..." />
    </head>
<body>
<Hero blk={hrb} />
<SubHero blk={shrb} />
<SubBar blk={sbb} />

<Plain blk={pb} />

<List blk={lb} />

<Define blk={db} />

<Link blk={lkb} />

<Hd2 blk={hd2} />
<Hd3 blk={hd3} />
<Hd4 blk={hd4} />
<Ih2 blk={ih2} />
<Ih3 blk={ih2} />
<Ih4 blk={ih2} />

<Relatives blk={rels} />

</body>
</html>