---
import { classNaming }  from "$scripts/_className"
let blk: LinkBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "",
};

const rel = blk.target === "_blank" ? "noopener" : "";

const cls = classNaming("", blk.classes, blk.preset, presets)
---

<div id={blk.id} class={cls}>
  {() => {
    let a;
    if (blk.href.startsWith("http")) {
      a = <a href={blk.href} target={blk.target} {rel}>{blk.$text}</a>
    } else {
      a = <a href={blk.href}>{blk.$text}</a>
    }
    return a
    }
  }
</div>

<style lang="scss">
  a {
    color: teal;
    text-decoration: underline;
    margin-left: 2.5rem;
  }
</style>
