---
import { profile } from "$envs/profile";
import Logo from "$lib/Util/HeaderLogo.astro";
import Singlenav from "./Singlenav.astro";
import Multinav from "./Multinav.astro";
import Langsw from "../Footer/langsw.astro";
let navigations: NavigationMenu[];
let links: MultiLingualLink[] = [];
let lang: LangList = "ja";
({ navigations, lang, links } = Astro.props);
const homeURL = lang === profile.deflang ? "/" : `/${lang}`;
---

<header>
  <nav
    class="navbar has-text-weight-semibold"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand px-3">
      <!-- <a href="/"> -->
      <a href={homeURL}>
        <Logo />
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        {
          navigations.map((hnav) => {
            if (hnav.items) {
              if (hnav.items.length > 1) {
                return <Multinav menu={hnav} />;
              }
              return <Singlenav menu={hnav} />;
            }
            return;
          })
        }
      </div>
      <div class="navbar-end header-switch">
        {
          () => {
            if (links !== undefined) {
              if (links.length > 1) {
                return <Langsw multiLink={links} currentLang={lang} />;
              }
            }
          }
        }
      </div>
    </div>
  </nav>
</header>

<style lang="scss">
  @use "../../../styles/colors" as c;

  .header-switch {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
  }
</style>
