---
import BlockControl from "$lib/Blocks/SimpleBlockControl.astro"
import DefImg from "$lib/Util/DefImg.astro"
let size: string
let itm: HorizontalItem<IsSingle>
({ itm, size } = Astro.props)
---

<div class={size}>
  <div class="card horizontal-card">
    <div class="card-image">
      <figure class="image is-4by4">
        {() => {
          if (itm.img !== "") {
            return (
                <img src={itm.img} alt={itm.$title} />
            )
          }
          return <DefImg />
        }}
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content px-3">
        <p class="title is-4">{itm.$title}</p>
      </div>
    </div>
    <div class="content">
      <BlockControl blks={itm.$blks} />
    </div>
  </div>
</div>


<style lang="scss">
  .horizontal-card {
    background-color: rgba(220, 220, 220, 0.5);
  }
</style>
